.menu-button {
	border: 1px solid black;
	cursor: pointer;
	border-radius: 0.8rem;
	transition: background-color 0.25s;
}

.menu-button-row-header {
	font-weight: bold;
}

.menu-prefix-button {
	background-color: $prefix-color;
	@include active {
		background-color: $prefix-hover-color;
	}
}

.menu-root-button {
	background-color: $root-color;
	@include active {
		background-color: $root-hover-color;
	}
}

.menu-suffix-button {
	background-color: $suffix-color;
	@include active {
		background-color: $suffix-hover-color;
	}
}

.menu-word-button {
	background-color: $word-color;
	@include active {
		background-color: $word-hover-color;
	}
}

div.menu-close-button, div.menu-user-button {
	background-color: $menu-button-color;
	border: 1px solid black;
	border-radius: 5px;
	color: white;
	text-align: center;
	text-shadow: 0.2rem 0.2rem 0.2rem $text-shadow-color;
	cursor: pointer;

	@include active {
		background-color: $menu-button-hover-color;
	}
}

.menu-button-index {
	background-color: white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-top-left-radius: 0.6rem;
	border-bottom-right-radius: 0.4rem;
}

.menu-button-title {
	font-weight: bold;
}

.menu-button-info {
	color: white;
	text-shadow: 0.2rem 0.2rem 0.2rem $text-shadow-color;
}

.previous-activity-button {
	box-shadow: 0px 0px 1.5rem 0.5rem $prev-act-glow-color;
}

.menu-bottom-buttons {
	color: $menu-link-color;
	text-decoration: underline;

	& > a {
		cursor: pointer;
	}
}