@mixin owl-state($name, $image, $width, $height) {
	&.owl-#{$name} .owl-image {
		@include size($width, $height);
		background: url($image) no-repeat;
		background-size: 100% 100%;
	}

	&.owl-#{$name}.owl-centered {
		@include pos(50%, 50%);
		margin-top: -(($height*1.5)/2);
		margin-left: -(($width*1.5)/2);
		
		.owl-image {
			@include size($width*1.5, $height*1.5);
		}
	}
}

.owl {
	@include pos(16px, 16px);
	@include owl-state("sitting", 'images/owl/default.png', 150px, 187px);
	@include owl-state("speaking", 'images/owl/speaking.gif', 150px, 158px);
	@include owl-state("speaking-closed", 'images/owl/speaking-closed.png', 150px, 158px);
}

.owl-hidden {
	display: none;
}

.owl-content {
	visibility: hidden;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

.owl-sitting .owl-content {
	visibility: visible;
}