$bg-color:                #FFF;
$menu-bg-color:		      #F9F9EC;

$link-color:              #F15D39;
$text-color:              #000000;

$modal-bg-color:          #DEDEDE;

$card-border-color:	      #DCDC94;
$card-bg: 	              #F1F1D4;

$reference-bg:            #FCFAAA;
$reference-hover-bg:      #FFFD61;

$feedback-bg: 		      #FCFAAA;
$highscore-bg:		      #FAC07A;
$feedback-button-bg:      #f25c32;
$feedback-button-hover:   #f04714;

$info-footer-bg: 	      #40AE49;
$info-box-bg:			  #eeece1;

$prefix-color:            #00a651;
$root-color:              #d2232a;
$suffix-color:            #007dc5;
$word-color:              #00adad;

$prefix-hover-color:      #00d868;
$root-hover-color:        #f92a31;
$suffix-hover-color:      #00a0f7;
$word-hover-color:        #00c3c3;

$joiner-color: 		      #939598;

$text-shadow-color:       rgba(150, 150, 150, 0.44);

$prev-act-glow-color:     #ffea00;

// orange corner buttons
$menu-button-color:       #f25c32;
$menu-button-hover-color: #f04714;
$menu-link-color:         #00F;