@import 'susy';

/* Default grid settings */
$susy: (
	/* Tells Susy to use 12 columns */
	columns: 12,
	/* Tells Susy that the container has a max-width of 1920px */
	container: 1920px,
	/* Tells Susy to use border-box */
	global-box-sizing: border-box 
);

@include border-box-sizing;

body #outlet {
	@include container;
}

@import 'mixins';
@import 'pres/variables';
@import 'layout/variables';
@import 'reset';
@import 'normalize';

@import 'common';

// Layout
@import 'layout/splash';
@import 'layout/choice';
@import 'layout/game-screen';
@import 'layout/activity-feedback';
@import 'layout/admin';
@import 'layout/admin-button';
@import 'layout/admin-check';
@import 'layout/lesson-wrapper';
@import 'layout/rhyme-word';
@import 'layout/lesson-feedback';

// Presentation
@import 'pres/teacher';
@import 'pres/owl';

// Individual lessons
@import 'lessons/1';
@import 'lessons/2';
