$bg-color:            #FFF;

$link-color:          #F15D39;
$text-color:          #000000;

$modal-bg-color:      #DEDEDE;

$card-border: 		  #DCDC94;
$card-bg: 	          #F1F1D4;

$reference-bg:        #FCFAAA;
$reference-hover-bg:  #FFFD61;

$prefix-color:        #00a651;
$root-color:          #d2232a;
$suffix-color:        #007dc5;
$word-color:          #00adad;

$prefix-hover-color:  #00d868;
$root-hover-color:    #f92a31;
$suffix-hover-color:  #00a0f7;
$word-hover-color:    #00c3c3;

$joiner-color: 		  #939598;
