.admin .admin-section-1 {
	margin-left: 20%;
	width: 60%;
	height: 95%;
}

.admin-section-1 .sec-1-row {
	width: 100%;
	height: 23%;
	margin: 1% 0 1% 0;
}

.admin-section-1 .sec-1-btn-long {
	width: 100%;
	height: 100%;
	outline: 1px solid green;
}

.admin-section-1 .sec-1-btn-short {
	display: inline-block;
	width: 24%;
	height: 100%;
	outline: 1px solid blue;
}

.admin-section-1 .sec-1-btn-short:not(:last-child) {
	margin-right: 1.333%;
}