.admin .admin-section-9, .admin .admin-section-10 {
	position: absolute;
	text-align: center;
	width: 40%;
	height: 70%;
	left: 30%;
}

.admin-section-9 .sec-9-btn,
.admin-section-10 .sec-10-btn {
	vertical-align: middle;
	width: 100%;
	height: 30%;
	margin-bottom: 2%;
	border: 3px solid black;
	display: block;
	position: relative;

	.lesson-button-title {
		font-size: 22px;
		margin-top: 4px;
		text-decoration: underline;
	}
}