.section-header {
    position: relative;
    text-align: center;
}

.section-header__title {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    color: BLACK;
}

.section-header__letters {
    color: #550055;
    width: 100%;
}

.section-header__lessons {
    margin-top: 12px;
    font-size: 22px;
    width: 100%;
}