.section-header {
    position: relative;
    text-align: center;
}

.section-header__title {
    margin-top: 8%;
    width: 100%;
    font-weight: bold;
    color: BLACK;
}

.section-header__letters {
    color: #550055;
    width: 100%;
}

.section-header__lessons {
    @include pos(2%, 0, bottom);
    width: 100%;
}