.admin-button {
    cursor: pointer;
}

.admin-button__icon {
    position: inline-block;
    @include size(22px, 29px);
    margin-right: 4px;
    vertical-align: middle;
}

.admin-button__text {
    height: 32px;
    line-height: 32px;
    color: #568ED4;
    font-size: 20px;
    text-decoration: underline;
    vertical-align: middle;
}