$choice-margin: 0 4px 0 4px;

.choice-group {
    @include pos(30%, 0, bottom);
    text-align: center;
    width: 100%;
}

.choice-group .choice {
    margin: $choice-margin; // spacing between choices
}