.admin .admin-section-10 {
	height: 45%;
}

.admin-section-10 .sec-10-btn {
	vertical-align: middle;
	width: 100%;
	height: 50%;
	margin-bottom: 2%;
	border: 3px solid black;
	display: block;
	position: relative;

	& > .lesson-button-title {
		font-size: 22px;
		margin-top: 4px;
	}
}