$background: #C5AECE;

$instructions-size: 20px;
$instructions-top-margin: 8%;
$instructions-bottom-margin: 5%;

$timer-conteiner-height: 30%;
$timer-size: 28px;
$timer-background: #CDE39F;
$timer-top-offset: 40%; // distance between timer and top of its container (approximately centered

$input-container-distance: 5%; // distance between input and instruction
$input-width: 25%;
$input-height: 40px;
$input-font-size: 36px;

$submit-button-width: 230px;
$submit-button-height: 144px;
$submit-button-font-size: 20px;
$submit-button-image: 'images/arrow_hover.png';
$submit-button-hover-image: 'images/arrow.png';

.admin-check {
    @include fill;
    background: $background;
    position: relative;
}

.admin-check__timer-container {
    @include size(100%, $timer-conteiner-height);
    @include pos(0, 0, bottom);
    background: $timer-background;
    text-align: center;
    font-size: $timer-size;
}

.admin-check__timer {
    display: block;
    @include pos($timer-top-offset, 0); // 40% for approximate vertical centering
    width: 100%;
}

.admin-check__password-label {
    font-weight: bold;
}

.admin-check .admin-check__instructions {
    display: inline-block;
    //height: 30%;
    margin-top: $instructions-top-margin;
    margin-bottom: $instructions-bottom-margin;
    width: 100%;
    text-align: center;
    font-size: $instructions-size;
}

.admin-check .admin-check__input-container {
    text-align: center;
    //margin-top: $input-container-distance;
}

.admin-check .admin-check__password-input {
    display: inline-block;
    position: relative;
    @include size($input-width, $input-height);
    font-size: $input-font-size;
}

.admin-check .admin-check__submit-button {
    display: inline-block;
    position: relative;
    @include size($submit-button-width, $submit-button-height);
    bottom: 10px;
    left: 10px;

    background: url($submit-button-image) no-repeat;
    background-size: 100% 100%;
    font-size: $submit-button-font-size;
    border: 0;
    color: #FFF;
    cursor: pointer;
    @include active {
        background-image: url($submit-button-hover-image);
        color: #000;
    }
}