$top-padding: 32px;

// Individual button colors
$section-colors: (
    (1,  #e4ecc0, #ecf2d3, #e9efcb), // index, lesson button, lesson button hover, section header
    (2,  #fbdfe7, #fce9ee, #fce4eb),
    (3,  #fffcab, #fffdc4, #fffdb9),
    (4,  #dfe8f5, #e9eff8, #e4ecf7),
    (5,  #fee5ad, #feedc6, #fee9bb),
    (6,  #eeddeb, #f3e7f1, #f1e3ee),
    (7,  #dff1d8, #e9f5e4, #e4f3df),
    (8,  #eee4d7, #f3ece3, #f0e7dc),
    (9,  #fcdac2, #fde5d4, #fde0cc),
    (10, #d5ddee, #e2e7f3, #dce3f1)
);

// // libsass is making my @each directive fail
// @for $i from 1 through 10 {
//     .admin-section-#{$i} .lesson-button {
//         background: nth(nth($section-colors, $i), 3);

//         @include active {
//             background: nth(nth($section-colors, $i), 2);
//         }
//     }

//     .admin-section-#{$i}__header {
//         background-color: nth(nth($section-colors, $i), 3);
//     }
// }

// Admin screen Rows
.admin__header {
    @include container;
    @include pos(0);
    @include size(100%, 5%);
    border: 1px solid #1285e7;
    text-align: center;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #87BFFF 100%)
}

.admin__current-section {
    @include pos(8%, 5%);
    @include size(75%, 88%);
    color: blue;
    font-size: 16px;
}

.admin .section-list {
    @include pos(8%, 1%, top, right);
}

// Admin header

.admin__header {
    font-size: 22px;
}

.admin__header-nav,
.admin__header-grades {
    position: relative;
    height: 100%;
}

.admin__header-nav {
    position: relative;
    @include span(5 nest);
    @include container;
    list-style-type: none;
    height: 100%;
    margin-left: span(1/2);
    text-align: left;
    top: 25%;
}

.admin__header-nav-item {
    position: relative;
    display: inline-block;
    top: 25%;
    text-align: center;
    cursor: pointer;
    &:not(:first-child) {
        margin-left: 8%;
    }
    @include active {
        text-decoration: underline;
    }
}

.admin__header-title {
    @include pos(0, 0);
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    top: 18%;
}

.admin-header .admin__header-grades {
    @include span(5 last);
    margin-right: span(1/2);
    text-align: right;
    top: 25%;
}

.lesson-button__index {
    @include pos(4px, 4px);
    font-size: 16px;
}

.lesson-button {
    cursor: pointer;
    transition: 0.1s;
    @include active {
        border-color: #1285e7;
    }
}


.admin__back-button {
    @include pos(2%, 2%, bottom, right);
    @include size(240px, 160px);
    background: url('images/arrow.png');
    background-size: 100% 100%;
    line-height:  160px;
    text-align: center;
    cursor: pointer;
    color: #000;
    font-size: 22px;

    @include active {
        background-image: url('images/arrow_hover.png');
        color: white;
    }
}

.admin-section {
    @include size(100%, 100%);
    @include container;
    position: relative;
}

.lesson-button {
    position: relative;
    border: 3px solid black;
}


.lesson-button--selected {
    border-color: red;
}


// Section header and back/next arrows
.section-header-container {
    text-align: center;
    height: 19%;
    margin-bottom: 1%;
}

.next-section-button,
.previous-section-button,
.section-header {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.previous-section-button {
    background: url("images/arrow-reversed.png") no-repeat;
    border: 0;
    outline: 0;
    background-size: 100% 100%;
    width: span(2);
    margin-right: span(1/2);
    cursor: pointer;
    @include active {
        background-image: url("images/arrow-reversed_hover.png");
    }
}

.section-header {
    width: span(2);
    //@include span(2);
    border: 1px solid black;
}

.next-section-button {
    background: url("images/arrow.png") no-repeat;
    border: 0;
    outline: 0;
    background-size: 100% 100%;
    width: span(2);
    margin-left: span(1/2);
    cursor: pointer;
    @include active {
        background-image: url("images/arrow_hover.png");
    }
}