@import 'choices';

.attempt-title {
	@include pos(0.8rem, 0.8rem, top, right);
	font-size: 1.8rem;
}

.attempt-home-button {
	@include pos(1.6rem, 1.6rem, bottom, left);
	@include size(9.2rem, 9.5rem);
}

.attempt-continue-button {
	@include pos(15%, 10rem, bottom, right);
	@include size(7.5rem, 15rem);
}

.attempt:not(.attempt-waiting) {
	.choice-correct-icon, .choice-incorrect-icon {
		display: none;
	}

	.attempt-example-word {
		display: none;
	}
}

// Hide unselected incorrect choices
.attempt-waiting {
	.choice-not-selected.choice-incorrect {
		width: 0;
		border: 0px solid black;
		margin: 0;
		visibility: hidden;
		transition: width 1s, border-width 1s, margin 1s;
	}
}

.attempt .attempt-example-word {
	width: 100%;
	font-size: 2.8rem;
	margin-top: 1.6rem;
}

div.attempt-current-info {
	@include pos(6.4rem, 50%);
	width: 60rem;
	margin-left: -30rem;
}

.attempt-instructions {
	width: 100%;
	text-align: center;
	font-size: 3.5rem;
}

// Activities 1-6
.attempt .attempt-reference-word, .attempt .attempt-reference-definition {
	width: 100%;
	text-align: center;
	font-size: 5.2rem;
	line-height: 6.4rem;
	margin-top: 1.6rem;
	padding: 0.8rem;
}

.attempt-type-3, .attempt-type-4 {
	.attempt-reference-definition {
		font-size: 3.2rem;
		line-height: 3.8rem;
	}
}

.attempt-blanks {
	@include pos(50%, 0);
	@include size(100%);
	text-align: center;
}

.attempt-blanks-words {
	text-align: center;
	display: inline-block;
}

.attempt-waiting .attempt-blanks-words {
	cursor: pointer;

	@include active {
		background-color: $reference-hover-bg;
	}

	&.playing {
		background-color: $reference-hover-bg;
	}
}

.attempt .attempt-blank {
	display: inline-block;
	font-size: 5.6rem;
	line-height: 5.6rem;
	margin: 0 0.8rem 0 0.8rem;
	border-bottom: 0.3rem solid black;
	width: 15rem;
	height: 6rem;
}

.attempt-waiting .attempt-blank {
	margin: 0;
	width: auto;
}