.change-user-modal > p {
	width: 80%;
	margin: 32px 0 0 10%;
	line-height: 28px;
	font-size: 22px;
	text-align: center;
}

.change-user-modal-no, .change-user-modal-yes {
	position: absolute;
	font-size: 24px;
	width: 75px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px;
	color: white;
	cursor: pointer;
	bottom: 32px;
	transition: background-color 0.25s;
}

.change-user-modal-no {
	background-color: #db1f1c;
	left: 32px;

	@include active {
		background-color: #ad1916;
	}
}

.change-user-modal-yes {
	background-color: #61c519;
	right: 32px;

	@include active {
		background-color: #4e9b14;
	}
}