.info-screen .info-screen-header {
	@include pos(0, 0);
	width: 100%;
}

.info-screen .info-screen-footer {
	@include pos(0, 0, bottom);
	@include size(100%, 9rem);
}

.info-screen .info-screen-content {
	overflow: auto;
	width: 100%;
}

.info-screen .info-box {
	@include pos(0.4rem, 50%, bottom, left);
	padding: 0.8rem 0 0.8rem 0;
	text-align: center;
	width: 83rem;
	margin-left: -41.5rem;
	font-size: 2rem;
	background-color: $info-box-bg;
	border: 0.3rem solid black;
	border-radius: 0.3rem;
}

.info-screen .info-back-button {
	@include pos(0.8rem, 1.2rem, bottom, right);
	padding: 2rem 3rem 2rem 3rem;
	font-size: 2rem;
}