.lesson-feedback {
	@include fill;
	@include star-wrapped(true);
	overflow: auto;
	text-align: center;
	font-family: "Comic Sans MS"; 	

	h1, h2 {
		width: 100%;
		font-size: 22px;
	}

	h1 {
		margin-top: 8%;
		font-size: 64px;
		font-weight: bold;
	}

	h2 {
		margin-top: 10px;
	}

	.score {
		margin-top: 80px;
		font-size: 48px;
		font-weight: bold;
	}

	button {
		@include size(192px, 120px);
		position: relative;
		background-size: 100% 100%;
		border: 0;
		cursor: pointer;
	}
}

.lesson-feedback-next, .lesson-feedback-prev {
	position: relative;
	top: 140px;
	display: inline-block;
}

.lesson-feedback-next button {
	background: url('images/arrow.png') no-repeat;

	@include active {
		background-image: url('images/arrow_hover.png');
	}
}

.lesson-feedback-prev button {
	background: url('images/back-arrow.png') no-repeat;

	@include active {
		background-image: url('images/back-arrow_hover.png');
	}
}