.modal .modal-overlay {
	@include pos(0,0);
	@include size(100%, 100%);
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal .modal-window {
	@include pos(50%, 50%);
	@include size(352px, 262px);
	margin: -131px 0 0 -176px;
	border: 1px solid black;
	background-color: white;
	z-index: 11;
}