.other-products {
	h1 {
		text-align: center;
		@include size(100%, 6.6rem);
		line-height: 6rem;
		font-size: 3rem;
	}

	h2 {
		width: 100%;
		text-align: center;
		font-weight: bold;
		margin: 16px 0 16px 0;
		font-size: 22px;
	}

	h3 {
		width: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 22px;
	}

	.info-screen-content {
		@include pos(6.6rem, 0);
	}
}

.other-products .preschool-products {
	width: 80%;
	margin-left: 10%;
}

.other-product {
	position: relative;
	min-height: 152px;
}

.other-product-thumbnail {
	@include pos(0, 0);
	@include size(202px, 152px);
	margin: 0;

	& > img {
		@include size(100%, 100%);
	}
}

.other-product .other-product-text {
	position: absolute;
	padding: 8px;
	left: 202px;
}

.other-product-header {
	font-size: 22px;
}

.other-product-title {
	font-style: italic;
	font-weight: bold;
}

.other-product-info {
	font-size: 20px;
	line-height: 22px;
}


// bottom paragraphs with images
.other-products .software-info {
	position: relative;
	margin-top: 16px;
}

.software-info-text {
	@include pos(0, 10%);
	width: 80%;

	& > p {
		font-size: 24px;
		line-height: 30px;
		margin: 30px 80px 30px 80px;
	}

	& > .quote {
		font-style: italic;
		margin-bottom: 0;
		width: 60%;
		left: 20%;
		position: relative;
	}

	& > .citation {
		position: relative;
		left: 55%;
		font-size: 22px;
	}

	& > .guarantee {
		text-align: center;
		font-weight: bold;
	}

	.magazine {
		font-style: italic;
	}
}

.left-image, .right-image {
	width: 8rem;
	height: 116.88rem;
	position: absolute;
}

.left-image {
	left: 2.5%;
	top: 0;
}

.right-image {
	right: 2.5%;
	top: 0;
}

