$width: 300px;
$height: 300px;
$border-width: 3px;
$content-width: 90%;
$content-height: 90%;

$selected-shadow: 0px 0px 25px 0px #0A0;
$selected-border: 3px solid #0A0;

$play-button-width: 32px;
$play-button-height: 32px;
$play-button-bottom-offset: -48px;
$play-button-zindex: 3;
$play-button-image: 'images/replay-button.png';
$play-button-hover-image: 'images/replay-button_active.png';

.choice {
    @include size($width, $height);
    border: $border-width solid black;
    position: relative;
    display: inline-block;
    line-height: $height;
    vertical-align: middle;
    text-align: center;
}

.choice__content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    @include size($content-width, $content-height);

    img {
        display: inline-block;
    }
}

// Present if an onClick handler is passed
.choice--selectable {
    cursor: pointer;
}

.choice--hidden {
    visibility: hidden;
}

// Remove the choice from the flow of the page
.choice--detached {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.choice .choice__play-button {
    @include size($play-button-width, $play-button-width);
    @include pos($play-button-bottom-offset, 50%, bottom);
    margin-left: -($play-button-width/2);
    z-index: $play-button-zindex;
    cursor: pointer;
    background: url($play-button-image) no-repeat;
    background-size: 100% 100%;
    border: 0;
    outline: 0;
}

.choice--sound-playing .choice__play-button {
    background-image: url($play-button-hover-image);
}

.choice--sound-playing, 
.choice--selected {
    box-shadow: $selected-shadow;
    border: $selected-border;
}