$button-color: #ecf2d3;
$button-color-hover: #e4ecc0;
$section-header-color: #e9efcb;
$lesson-button-title-size: 38px;
$lesson-button-title-offset: 25px;
$row-count: 5;
$row-height: (100%/$row-count) - 1%;

.admin-section-1 {
    > .lesson-button {
        background-color: $button-color;

        @include active {
            background-color: $button-color-hover;
        }
    }

    .lesson-button--selected {
        border-color: red;
    }

    .lesson-button__title {
        text-decoration: underline;
        font-size: $lesson-button-title-size;
    }

    .sub-lesson__title {
        @include pos(40%, 0);
        width: 100%;
        font-size:  $lesson-button-title-size;
        text-align: center;
    }

    .previous-section-button {
        visibility: hidden;
    }
}

// Long buttons
.lesson-button-1,
.lesson-button-2,
.lesson-button-3 {
    @include span(12);
    height: $row-height;
    margin-bottom: 1%;

    > .lesson-button__title {
        @include pos($lesson-button-title-offset, 2%);
    }
}

// Bottom 4 small buttons
.lesson-button-4,
.lesson-button-5,
.lesson-button-6,
.lesson-button-7 {
    @include span(3);
    height: $row-height;

    > .lesson-button__title {
        @include pos($lesson-button-title-offset, 0);
        width: 100%;
        text-align: center;
    }
}

.lesson-button-7 {
    @include last;
}

.lesson-button-1 .sub-lessons,
.lesson-button-2 .sub-lessons {
    @include span(7);
    position: relative;
    margin-left: span(5);
    height: 80%;
    top: 10%;
}

.sub-lesson-button {
    @include span(2 of 14);
    background: WHITE;
    border-radius: 8px;
    border: 1px solid black;
    height: 100%;

    .lesson-button__index {
        display: none;
    }
}

// last sub-lesson buttons
.lesson-button-1-s,
.lesson-button-2-b {
    @include last;
}