$tctc-logo-width: 20.5rem;
$tctc-logo-height: 13.25rem;
$tctc-logo-zindex: 2;

.tctc-logo {
    @include size($tctc-logo-width, $tctc-logo-height);
    background: url('images/tctc-logo.png') no-repeat;
    background-size: 100% 100%;
    z-index: $tctc-logo-zindex;
}